body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header, footer {
  text-align: center;
}

li {
  color: #fff;
  padding: 4em 1em;
  margin: 0;
  -moz-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
}

.name {
  padding: 2em 0;
  font-size: 2em;
  font-weight: bold;
}

.hex {
  display: block;
  text-align: right;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;

  -moz-column-count: 6;
  -moz-column-gap: 20px;
  -webkit-column-count: 6;
  -webkit-column-gap: 20px;
  column-count: 6;
  column-gap: 20px;
}

@media (max-width: 1200px) {
  ul {
    -moz-column-count: 4;
    -moz-column-gap: 15px;
    -webkit-column-count: 4;
    -webkit-column-gap: 15px;
    column-count: 4;
    column-gap: 15px;
  }
}

@media (max-width: 780px) {
  ul {
    -moz-column-count: 3;
    -moz-column-gap: 12px;
    -webkit-column-count: 3;
    -webkit-column-gap: 12px;
    column-count: 3;
    column-gap: 12px;
  }
}

@media (max-width: 580px) {
  ul {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
  }
}
